body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url('../img/Fondo.jpg') center center/cover no-repeat fixed;
    font-family: sans-serif;
    align-items: center;
  }
  header{
    display: flex;
    height: 80px;
    background: linear-gradient(to bottom, #5E1DE5, #1A5AE6);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 10px 10px rgba(70, 2, 230, 0.2);
    transition: height 0.5s, box-shadow 0.5s;
  }
  header:hover {
    height: 85px; 
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.4); 
}
  .TituloTxt{
    color: white;
  }
  .Contenedor{
    background: linear-gradient(45deg, #6510E5, #1100E6);
    margin: 2%;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(112, 2, 230, 0.5);
    transition: transform 0.7s, box-shadow 0.7s;
  }.Contenedor:hover{
    transform: scale(1.02);
    box-shadow: 8px 8px 10px rgba(255, 255, 255, 0.6);
  }
  .TxtContenedor{
    color: white;
  }
  /*131, 2, 230, 0.5*/