* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

body {
	background-color: #222222;
	color: #fff;
}

h1 {
	text-align: center;
	font-size: 3rem;
	font-weight: 700;
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.main-grid {
	display: grid;
	grid-template-areas: "camera info";
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	grid-template-rows: auto;
	width: 100%;
	height: auto;
}

.detect-zone {
	grid-area: camera;
	background-color: #b13333;
	width: 100%;
}
.flex-container {
	display: flex;
	align-content: center;
	justify-content: center;
	width: 75%;
}

.info-database {
	grid-area: info;
	background-color: rgb(171, 177, 51);
	width: 100%;
	min-height: 500px;
}

.chart {
	width: 100%;
	height: 100%;
}
