* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url('/src/assets/img/Fondo.jpg') center center/cover no-repeat fixed;
    font-family: sans-serif;
    align-items: center;
	justify-content: center;
  }
  .header{
    display: flex;
    height: 80px;
    background: linear-gradient(to bottom, #5E1DE5, #1A5AE6);
    justify-content: center;
    align-items: center;
	text-align: center;
    padding: 10px;
    box-shadow: 0 10px 10px rgba(70, 2, 230, 0.2);
    transition: height 0.5s, box-shadow 0.5s;
  }
  .header:hover {
    height: 85px; 
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.4); 
}
  .TituloTxt{
    color: white;
	text-align: center;
  }
  .Contenedor{
    background: linear-gradient(45deg, #6510E5, #1100E6);
    margin: 2%;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(112, 2, 230, 0.5);
	grid-area: camera;
	width: 90%;
    transition: transform 0.7s, box-shadow 0.7s;
  }.Contenedor:hover{
    transform: scale(1.02);
    box-shadow: 8px 8px 10px rgba(255, 255, 255, 0.6);
  }
  .Contenedor h3{
    color: white;
  }
  .Contenedor button{
	color:white;
	background-color: #8E03EB;
	border: 0px;
	padding: 10px;
	margin-top: 2%;
	border-radius: 5px;
	transition: background-color 0.7s, border 0.5s;
  }
  .Contenedor button:hover{
	background-color:#EB0258;
  }.Contenedor button:active{
	border: solid 1px white;
  }
.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.main-grid {
	display: grid;
	grid-template-areas: "camera info";
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	grid-template-rows: auto;
	width: 100%;
	height: auto;
}
.flex-container {
	display: flex;
	justify-content: center; 
	align-items: center;
	max-width: 75%;
	margin: auto;
}

.info-database {
	background-color: #2B99EB;
	margin-top: 2%;
    padding: 15px;
    border-radius: 20px;
	border: 0;
    box-shadow: 5px 5px 10px rgba(112, 2, 230, 0.5);
	min-height: 400px;
	height: auto;
	width: 100%;
	transition: border 0.7s, box-shadow 0.7s;
}
.info-database:hover{
    box-shadow: 8px 8px 10px rgba(255, 255, 255, 0.6);
}

.chart {
	width: 100%;
	height: 100%;
	color: white;
}
